.container {
        position: relative;
        max-width: 550px;
        height: 550px;
        margin: 0 auto;
    }
        .box {
            float: left;
            width: 30%;
            padding-top: 30%;
            margin: 1%;
            border-radius: 10px;
            background-color: orange;
        }
        button {
            display: inline-block;
            width: 70px;
            height: 30px;
            border: 1px solid #c8c8c8;
            border-radius: 3px;
            margin-right: 10px;
            margin-left: calc(50% - 40px);
            font-size: 14px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            vertical-align: bottom;
        }
        button:hover {
            border-color: #00a0ef;
            color: #00a0ef; }