.location{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:23px;padding-left:21px;}
.calendar{background:url(../imgs/allbgs.png) no-repeat -26px 0px;height:24px;padding-left:26px;}
.home{background:url(../imgs/allbgs.png) no-repeat -60px 0px;height:40px;padding-left:48px;}
.self{background:url(../imgs/allbgs.png) no-repeat -118px 0px;height:41px;padding-left:44px;}
.Write{background:url(../imgs/allbgs.png) no-repeat -176px 0px;height:41px;padding-left:42px;}
.map{background:url(../imgs/allbgs.png) no-repeat -235px 0px;height:44px;padding-left:44px;}
.Õ÷‘≤ 4{background:url(../imgs/allbgs.png) no-repeat -304px 0px;height:94px;padding-left:96px;}
