.pencil{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:14px;padding-left:16px;}
.voice_-{background:url(../imgs/allbgs.png) no-repeat 0px -50px;height:28px;padding-left:30px;}
.voice_+{background:url(../imgs/allbgs.png) no-repeat 0px -112px;height:28px;padding-left:30px;}
.Back _ Icon{background:url(../imgs/allbgs.png) no-repeat 0px -195px;height:41px;padding-left:27px;}
.circled-help{background:url(../imgs/allbgs.png) no-repeat 0px -278px;height:47px;padding-left:49px;}
