$header-color: #5fc0cd;
$body-color: #eff0f4;
$white-color: #fff;
$width: 100%;
$gray: #eceaea;
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  bottom: 0;
  background-color: $body-color;
}
header {
  width: $width;
  padding: 10px 15px;
  background-color: $header-color;
} 
header {
  p {margin: 0;}
  a {
    color: $white-color;
    text-decoration: none;
  }
}
.left{
    float: left;
  }
  .center {
    text-align: center;
    color:  $white-color;
  }
  .right {
    float:right;
  }

main {
  position:relative;
}
form {
  span {
    position:absolute;
    display: inline-block;
    height: 40px;
    border: 1px solid #eceaea;
  }
}
.font-size {font-size: 16px;}
.placeholder {
  @extend .font-size;
  color: $gray;
}
@mixin input($height: 60px, $padding-left: 60px) {
  width: $width;
  margin-top: 10px; 
  height: $height;
  padding-left: $padding-left;
  border: 0;
  &::-webkit-input-placeholder {
    @extend .placeholder
  };
  outline: none;
}
@mixin bg($size, $pos) {
  background: {
    size: $size;
    position: $pos;
    color: $white-color;
  }
}
.user {
  @include input;
  background: url(https://ZZsuper.github.io/task4/iphone.png) no-repeat;
  @include bg(15px, 16px 20px);
}
.user-line {
  top: 20px;
  left: 50px;
}
.password {
  @include input;
  background: url(https://ZZsuper.github.io/task4/locked.png) no-repeat;
  @include bg(15px, 16px 20px);
}
.password-line {
  top: 90px;
  left: 50px;
}
.submit {
  @include input(40px, 0);
  @extend .font-size;
  color: $white-color;
  background-color: $header-color;
  &:hover {cursor: pointer;}
}
.forgot {
  float: right;
  display: inline-block;
  padding: 10px 15px; 
  @extend .font-size;
  text-decoration: none;
  color: $header-color;
  &:hover {text-decoration:underline;}
}