/**/
/*.bgp_wrap {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}*/
html, body{
    width: 100%;
    height: 100%;
}
header {
    position: relative;
    padding-right: 20px;
    /* border-bottom: 1px solid #f1f1f1; */
    background-color: #fafafa;
}
.account {
    display: inline-block;
    float: right;
    font-size: 18px;
    line-height: 69px;
    color: #649edc;
}
.account span {
    padding: 0 5px;
    cursor: pointer;
}
.account_img {
     width: 25px;
     position: relative;
     bottom: 6px;
     cursor: pointer;
}
.bgp_wrap {
      height: 100%;
      background-color: #fff;
}
.nav {
    float: left;
    display: inline-block;
    width: 225px;
    height: 100%;
    margin-left: -100%;
    background-color: #232a3a;
    list-style: none;
}

.nav li {
    padding: 10px 0;
    padding-left: 40px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.nav li:hover {
    background-color: #7a7e88;
}
.nav_title {
    display: inline-block;
    width: 225px;
    padding: 20px !important;
    border-bottom: 1px solid #3d4d5b;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    background-color: #232a3a;
}
.detail_wrap {
    float: left;
    width: 100%;
    box-sizing:  border-box;
}
.detail {
    float: left;
    width: calc(100% - 302px);
    margin-left: 240px;
}

