<!-- <!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bgp.css">
</head> --> 

<!-- <body> -->
    <header>
        <li class="nav_title">萝卜多后台管理系统</li>
        <li id="account" class="account">
            <span class="">管理员</span>
            <img class="account_img" src="../img/account.png">
            <span>admin</span>
            <span>|</span>
            <span ng-click="logout()">退出</span>
        </li>
    </header>

    <div class="bgp_wrap">
        
        <div class="detail_wrap">
            <div class="detail" ui-view="">
                Welcome!
            </div>
        </div>
        <ul class="nav">
            <li ng-repeat="x in menu track by $index">
                <div class="menu_title" ng-click="list_show(x.id)">
                    <span class="glyphicon glyphicon-pencil pencil"></span>&emsp;
                    <span ng-bind = "x.name"></span>&emsp;
                    <span class="glyphicon glyphicon-menu-left" 
                          ng-class="{'glyphicon-menu-down':x.id == menuId}">
                    </span>
                </div>
                <ul ng-if="{true:true}[x.id == menuId]">
                    <li ng-repeat="subItem in x.sub">
                        <a  ui-sref="{{subItem.url}}" 
                            ng-class="{a_active:subItem.id == itemId}" 
                            ng-bind="subItem.name"
                            ng-click="active(subItem.id)">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        
    </div>
    
<!-- </body>
</html>