

	<div class="login_bg">
		<div class="signIn_wrap">
			<p>用户登录</p>
			<input id="name" class="login_name"  type="text"
                    name=""
					ng-model="user.name"
					ng-minlength="5"
					ng-maxlength="15"
                    required
                    ng-required="true" 
					placeholder="用户名"
			>

            <span class="line"></span>
            <br/>
			<input id="pwd" class="login_pwd"  type="password"
                    name="" 
					ng-model="user.pwd"
                    ng-minlength="6"
                    ng-maxlength="15"
                    required 
                    ng-required="true"
			 		placeholder="密码"
            >
            <span class="line"></span>
            <br/>
            <p class="hint"></p>
			<input  type="button"  value="登录" ng-click="login()">
		</div>
	</div>
	<!-- <script src="jquery-3.3.1.min.js"></script>
	<script src="JS-TASK5.js"></script> -->
