@import "task13-base.scss";
@import "JS-TASK2-base.scss";
$color_3: (
    num: #f56b81,
    _pink: #ffedc5
);
body {
    padding: 0;
    background-color: map-get($color, blue);
}
main {
    @include position(absolute, 50px, 0, null, 0);
    @include box(100%, calc(100% - 80px), 40px, null, null);
    max-width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}
.diary {
    position: relative;
    @include box(70%, 70%, null, 3px solid map-get($color, white), 0 auto);
    min-width: 234px;
    max-width: 348px;
    background-color: map-get($color_3, _pink);
}

.diary_form {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #a6a6a6;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #a6a6a6;
  box-sizing: border-box;
  list-style: none; }

.days {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #000; 
}
.time-point {display: none;}
.continue {
    @include box(100%, null, 10px, 0, 90px 0 20px);
    min-width: 234px;
    max-width: 348px;
    font-size: 16px;
    color: map-get($color, white);
    background-color: map-get($color_2, yellow_btn);
    outline: none;
    cursor: pointer;
}