.box{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:15px;padding-left:21px;}
.Ruler{background:url(../imgs/allbgs.png) no-repeat 0px -70px;height:20px;padding-left:24px;}
.Cut _ Scissors{background:url(../imgs/allbgs.png) no-repeat 0px -147px;height:20px;padding-left:17px;}
.ÏÂÀ­Èý½Ç{background:url(../imgs/allbgs.png) no-repeat 0px -224px;height:28px;padding-left:26px;}
