@import "task15-base.scss";

.banner-bg {
    @include box($w100, 31.25vw, null, null, null);
}
.banner {
    position: relative;
    @include flex-center;
    @extend .banner-bg;
}
.banner-arrow-left {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 10px);
    width: 20px;
}
.banner-arrow-right {
    position: absolute;
    top: calc(50% - 15px);
    right: calc(50% - 10px);
    width: 20px; 
}
ul {padding: 0;
}
.center-text {
    margin-top: 100px;
    color: map-get($color, gray);
}
@media (max-width: 992px) {
    .center-text{
        p {text-align: center;}
    }
    .number-of-people-layout {
        display: flex;
        justify-content: center;
    }
    .number-of-people-wrap {
        padding-top: 42px;
        padding-left: 30px;
        border-left: 0;
    }
}
%icon {
    margin: 0 auto;
}
.icon-rocket {
    @include box(51px, 62px, null, null, null);
    @extend %icon;
    @include bg-icon(4px -436px);
}
.icon-archive {
    @include box(67px, 62px, null, null, null);
    @extend %icon;
    @include bg-icon(4px -224px);
}
.icon-connection {
    @include box(57px, 62px, null, null, null);
    @extend %icon;
    @include bg-icon(4px -319px);
} 
h6 {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: #000;
}  
.font {
    text-align: left;
    color: map-get($color, gray);
    letter-spacing: 1px;
} 
.number-of-people {
    display: inline-block;
    padding-left: 30px;
    margin-top: 15px;
    text-align: left;
    font-size: 18px;
    color: map-get($color, header);
    @include bg-icon(-50px 5px);
}
.number-of-people-wrap {
    padding: {
        top: 42px;
        left: 30px;
    }
    border-left: 1px dashed map-get($color, gray);
}
@media (max-width: 992px) {
    .number-of-people-wrap {
        padding: {
            top: 42px;
            left: 30px;
        }
        border-left: 0;
    }
}

/*
*如何学习
*使箭头垂直居中
*/
.learning-steps-wrap {margin-bottom: 60px;}
.learning-steps {
    position: relative;
    height: 72px;
    padding: {
        left: 80px;
        right: 33px;
    }
    margin-bottom: 15px;
    background: url(https://ZZsuper.github.io/ITtask-all/sprite/圆形.png)
    no-repeat;
}
.learning-title {
    margin: {
        top: 60px;
        bottom: 40px;
        letter-spacing: 1px;
    }
}
.study-number {
    position: absolute;
    top: 25px;
    left: 31px;
    font-size: 18px;
    color: map-get($color, header);
}
.learning-steps-font {
    display: flex;
    align-items: center;
    height: 70px;
    color: map-get($color, gray);
    letter-spacing: 1px;
    word-wrap: break-word;
}
.icon-arrow {
    @include position(absolute, 20px, 1px, null, null);
    display: inline-block;
    @include box(32px, 32px, null, null, null);
    padding: {
        top: 5px;
        left: 5px;
    }
    @include bg-icon(0 -127px);
}

/*优秀学员展示*/
%box-shadow {box-shadow: 0 1px 3px 0 rgba(8, 1, 3, .15);}
.layout {padding-top: 15px;}
.trainee-wrap {
    min-height: 300px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 4px;
    @extend %box-shadow;
    background-color: map-get($color, white);
    overflow: auto;
}
.header-portrait {
    text-align: center;
}
.slide-dot {
    @include flex-center;
}
.slide-dot-1 {
    @include box(10px, 10px, null, null, 5px);
    border-radius: 5px;
    background-color: map-get($color, header);
}
.slide-dot-2 {
    @include box(10px, 10px, null, null, 5px);
    border-radius: 5px;
    @extend %box-shadow;
    background-color: map-get($color, white);
}

/*战略合作企业*/
.com-title {
    margin: {
        top: 100px;
        bottom: 50px;
    }
    letter-spacing: 1px;
}

.com-layout {
    @include flex-center;
    height: 180px;
    @extend %box-shadow;
    background-color: map-get($color, white);
    overflow: hidden;
    &:hover {box-shadow: 0px 1px 13px 0px rgba(8, 1, 3, 0.1);}
}
@media (min-width: 992px) {
    .com-layout2 {width: 20%;}
}

/*友情链接*/
.friendlink-title {
    margin: {
        top: 30px;
        bottom: 15px;
    }
    letter-spacing: 1px;
}
.link-layout {
    display: inline-block;
    width: 85px;
    padding-bottom: 5px;
    line-height: 20px;
    color: map-get($color, gray);
    li {
        padding: 0 5px;
        color: map-get($color, gray);
        list-style-type: disc;
    }
    a:hover li {
        text-decoration: underline;
        color: map-get($color, header);
    }
}